services:
  searcher:
    build:
      dockerfile: searcher/Dockerfile
    restart: unless-stopped
    environment:
      - HTTP_URL=${HTTP_URL}
      - WS_URL=${WS_URL}
      - REDIS_CONNECTION=redis://:${ACCOUNTS_REDIS_PASSWORD}@accounts:6379
    depends_on:
      - accounts
  
  accounts:
    image: redis:latest
    restart: unless-stopped
    command: >
      redis-server
      --requirepass ${ACCOUNTS_REDIS_PASSWORD}
      --save 60 1
      --loglevel warning