services:
  searcher:
    build:
      dockerfile: searcher/Dockerfile
    restart: unless-stopped
    environment:
      - HTTP_URL=${HTTP_URL}
      - WS_URL=${WS_URL}
      - PUBSUB_CONNECTION=redis://:${REDIS_PASSWORD}@accounts:6379
    depends_on:
      - accounts
  scheduler:
    build:
      dockerfile: scheduler/Dockerfile
    restart: unless-stopped
    environment:
      - REDIS_CONNECTION=redis://:${REDIS_PASSWORD}@accounts:6379
      - PUBSUB_CONNECTION=redis://:${REDIS_PASSWORD}@accounts:6379
    depends_on:
      - accounts
  sync:
    build:
      dockerfile: sync/Dockerfile
    restart: unless-stopped
    environment:
      - REDIS_CONNECTION=redis://:${REDIS_PASSWORD}@accounts:6379
      - PUBSUB_CONNECTION=redis://:${REDIS_PASSWORD}@accounts:6379
    depends_on:
      - accounts
  add_worker:
    build:
      dockerfile: add_worker/Dockerfile
    restart: unless-stopped
    environment:
      - HTTP_URL=${HTTP_URL}
      - WS_URL=${WS_URL}
      - ACCOUNTS_BATCH_SIZE=${ACCOUNTS_BATCH_SIZE}
      - REDIS_CONNECTION=redis://:${REDIS_PASSWORD}@accounts:6379
      - PUBSUB_CONNECTION=redis://:${REDIS_PASSWORD}@accounts:6379
    depends_on:
      - accounts
  worker:
    build:
      dockerfile: worker/Dockerfile
    restart: unless-stopped
    environment:
      - HTTP_URL=${HTTP_URL}
      - WS_URL=${WS_URL}
      - ACCOUNTS_BATCH_SIZE=${ACCOUNTS_BATCH_SIZE}
      - PUBSUB_CONNECTION=redis://:${REDIS_PASSWORD}@accounts:6379
    depends_on:
      - accounts
  rem_worker:
    build:
      dockerfile: rem_worker/Dockerfile
    restart: unless-stopped
    environment:
      - HTTP_URL=${HTTP_URL}
      - WS_URL=${WS_URL}
      - ACCOUNTS_BATCH_SIZE=${ACCOUNTS_BATCH_SIZE}
      - REDIS_CONNECTION=redis://:${REDIS_PASSWORD}@accounts:6379
      - PUBSUB_CONNECTION=redis://:${REDIS_PASSWORD}@accounts:6379
    depends_on:
      - accounts
  accounts:
    image: redis:latest
    restart: unless-stopped
    command: >
      redis-server
      --requirepass ${REDIS_PASSWORD}
      --save 60 1
      --loglevel warning